# Directories
.vs/
bin-int/
bin/
BaldLionEditor/assets/gameAssets/
BaldLionGame/assets/gameAssets/

# Files
*.user

BaldLionEditor/BaldLionProfile-Startup.json
BaldLionEditor/BaldLionProfile-Shutdown.json
BaldLionEditor/BaldLionProfile-Runtime.json
