[submodule "BaldLionEngine/vendor/GLFW"]
	path = BaldLionEngine/vendor/GLFW
	url = https://github.com/Efore/glfw
	ignore = dirty
[submodule "BaldLionEngine/vendor/spdlog"]
	path = BaldLionEngine/vendor/spdlog
	url = https://github.com/Efore/spdlog
[submodule "BaldLionEngine/vendor/imgui"]
	path = BaldLionEngine/vendor/imgui
	url = https://github.com/Efore/imgui	
	ignore = dirty
[submodule "BaldLionEngine/vendor/glm"]
	path = BaldLionEngine/vendor/glm
	url = https://github.com/Efore/glm
